In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
columns_list = crowdfunding_info_df.columns.tolist()

print("Column Names:")
print(columns_list)

Column Names:
['cf_id', 'contact_id', 'company_name', 'blurb', 'goal', 'pledged', 'outcome', 'backers_count', 'country', 'currency', 'launched_at', 'deadline', 'staff_pick', 'spotlight', 'category & sub-category']

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
# Assuming crowdfunding_info_df is your DataFrame
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)

# Drop the original 'category & sub-category' column
crowdfunding_info_df = crowdfunding_info_df.drop(['category & sub-category'], axis=1)

# Display the modified DataFrame
print(crowdfunding_info_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                             blurb    goal  pledged  \
0             Pre-emptive tertiary standardization     100        0
1                 Managed bottom-line architecture    1400    14560
2     Function-based leadingedge pricing structure  108400   142523
3    Vision-oriented fresh-thinking conglomeration    4200     2477
4                        Proactive foreground core    7600     5265
..                                             ...     ...      ...
995            Vision-oriented scalable definition   97300   153216
996       Future-proofed upward-trending migration    6600     4814
997              Right-sized full-range throughput    7600     4603
998           Polarized composite customer loyalty   66600    37823
999                    Expanded eco-centric policy  111100    62819

        outcome  backers_count country currency  launched_at    deadline  \
0        failed              0      CA      CAD   1581573600  1614578400
1    successful            158      US      USD   1611554400  1621918800
2    successful           1425      AU      AUD   1608184800  1640844000
3        failed             24      US      USD   1634792400  1642399200
4        failed             53      US      USD   1608530400  1629694800
..          ...            ...     ...      ...          ...         ...
995  successful           2043      US      USD   1609221600  1622350800
996      failed            112      US      USD   1634274000  1638252000
997    canceled            139      IT      EUR   1636174800  1639116000
998      failed            374      US      USD   1602133200  1618117200
999    canceled           1122      US      USD   1609308000  1629262800

     staff_pick  spotlight    category  subcategory
0         False      False        food  food trucks
1         False       True       music         rock
2         False      False  technology          web
3         False      False       music         rock
4         False      False     theater        plays
..          ...        ...         ...          ...
995       False       True        food  food trucks
996       False      False     theater        plays
997       False      False     theater        plays
998       False       True       music   indie rock
999       False      False        food  food trucks

[1000 rows x 16 columns]

In [6]:
# create unique list categories
unique_categories = crowdfunding_info_df['category'].unique()
unique_subcategories = crowdfunding_info_df['subcategory'].unique()

# Convert to lists if needed
categories_list = unique_categories.tolist()
subcategories_list = unique_subcategories.tolist()

print("Unique Categories:")
print(categories_list)

print("\nUnique Subcategories:")
print(subcategories_list)

Unique Categories:
['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']

Unique Subcategories:
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [7]:
#unique categories
unique_categories = crowdfunding_info_df['category'].unique()
unique_subcategories = crowdfunding_info_df['subcategory'].unique()

# Get the number of distinct values
num_categories = len(unique_categories)
num_subcategories = len(unique_subcategories)

print(len(unique_categories))
print(len(unique_subcategories))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 

  
cat_ids = ["cat" + str(cat_id) for cat_id in ['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']]

# Use a list comprehension to add "subcat" to each subcategory_id.
scat_ids = scat_ids = ["subcat" + str(subcat_id) for subcat_id in ['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']]


print(cat_ids)
print(scat_ids)

['catfood', 'catmusic', 'cattechnology', 'cattheater', 'catfilm & video', 'catpublishing', 'catgames', 'catphotography', 'catjournalism']
['subcatfood trucks', 'subcatrock', 'subcatweb', 'subcatplays', 'subcatdocumentary', 'subcatelectric music', 'subcatdrama', 'subcatindie rock', 'subcatwearables', 'subcatnonfiction', 'subcatanimation', 'subcatvideo games', 'subcatshorts', 'subcatfiction', 'subcatphotography books', 'subcatradio & podcasts', 'subcatmetal', 'subcatjazz', 'subcattranslations', 'subcattelevision', 'subcatmobile games', 'subcatworld music', 'subcatscience fiction', 'subcataudio']

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': category_ids, 'category': cat_ids})

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id': subcategory_ids, 'subcategory': scat_ids})

# Display the DataFrames
print("Category DataFrame:")
print(category_df)

print("\nSubcategory DataFrame:")
print(subcategory_df)

Category DataFrame:
   category_id         category
0            1          catfood
1            2         catmusic
2            3    cattechnology
3            4       cattheater
4            5  catfilm & video
5            6    catpublishing
6            7         catgames
7            8   catphotography
8            9    catjournalism

Subcategory DataFrame:
    subcategory_id              subcategory
0                1        subcatfood trucks
1                2               subcatrock
2                3                subcatweb
3                4              subcatplays
4                5        subcatdocumentary
5                6     subcatelectric music
6                7              subcatdrama
7                8         subcatindie rock
8                9          subcatwearables
9               10         subcatnonfiction
10              11          subcatanimation
11              12        subcatvideo games
12              13             subcatshorts
13              14            subcatfiction
14              15  subcatphotography books
15              16   subcatradio & podcasts
16              17              subcatmetal
17              18               subcatjazz
18              19       subcattranslations
19              20         subcattelevision
20              21       subcatmobile games
21              22        subcatworld music
22              23    subcatscience fiction
23              24              subcataudio

In [11]:
category_df

   category_id         category
0            1          catfood
1            2         catmusic
2            3    cattechnology
3            4       cattheater
4            5  catfilm & video
5            6    catpublishing
6            7         catgames
7            8   catphotography
8            9    catjournalism

In [12]:
subcategory_df

    subcategory_id              subcategory
0                1        subcatfood trucks
1                2               subcatrock
2                3                subcatweb
3                4              subcatplays
4                5        subcatdocumentary
5                6     subcatelectric music
6                7              subcatdrama
7                8         subcatindie rock
8                9          subcatwearables
9               10         subcatnonfiction
10              11          subcatanimation
11              12        subcatvideo games
12              13             subcatshorts
13              14            subcatfiction
14              15  subcatphotography books
15              16   subcatradio & podcasts
16              17              subcatmetal
17              18               subcatjazz
18              19       subcattranslations
19              20         subcattelevision
20              21       subcatmobile games
21              22        subcatworld music
22              23    subcatscience fiction
23              24              subcataudio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={'blurb': 'description', 'launched_at': 'launch_timestamp', 'deadline': 'deadline_timestamp'}, inplace=True)

# Display the updated DataFrame
print(campaign_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description    goal  pledged  \
0             Pre-emptive tertiary standardization     100        0
1                 Managed bottom-line architecture    1400    14560
2     Function-based leadingedge pricing structure  108400   142523
3    Vision-oriented fresh-thinking conglomeration    4200     2477
4                        Proactive foreground core    7600     5265
..                                             ...     ...      ...
995            Vision-oriented scalable definition   97300   153216
996       Future-proofed upward-trending migration    6600     4814
997              Right-sized full-range throughput    7600     4603
998           Polarized composite customer loyalty   66600    37823
999                    Expanded eco-centric policy  111100    62819

        outcome  backers_count country currency  launch_timestamp  \
0        failed              0      CA      CAD        1581573600
1    successful            158      US      USD        1611554400
2    successful           1425      AU      AUD        1608184800
3        failed             24      US      USD        1634792400
4        failed             53      US      USD        1608530400
..          ...            ...     ...      ...               ...
995  successful           2043      US      USD        1609221600
996      failed            112      US      USD        1634274000
997    canceled            139      IT      EUR        1636174800
998      failed            374      US      USD        1602133200
999    canceled           1122      US      USD        1609308000

     deadline_timestamp  staff_pick  spotlight    category  subcategory
0            1614578400       False      False        food  food trucks
1            1621918800       False       True       music         rock
2            1640844000       False      False  technology          web
3            1642399200       False      False       music         rock
4            1629694800       False      False     theater        plays
..                  ...         ...        ...         ...          ...
995          1622350800       False       True        food  food trucks
996          1638252000       False      False     theater        plays
997          1639116000       False      False     theater        plays
998          1618117200       False       True       music   indie rock
999          1629262800       False      False        food  food trucks

[1000 rows x 16 columns]

In [16]:
# Convert the goal and pledged columns to a `float` data type.

campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)

# Display the updated DataFrame
print(campaign_df)

     cf_id  contact_id                  company_name  \
0      147        4661    Baldwin, Riley and Jackson
1     1621        3765                      Odom Inc
2     1812        4187    Melton, Robinson and Fritz
3     2156        4941   Mcdonald, Gonzalez and Ross
4     1365        2199                 Larson-Little
..     ...         ...                           ...
995   2986        3684              Manning-Hamilton
996   2031        5784                    Butler LLC
997   1627        1498                      Ball LLC
998   2175        6073   Taylor, Santiago and Flores
999   1788        4939  Hernandez, Norton and Kelley

                                       description      goal   pledged  \
0             Pre-emptive tertiary standardization     100.0       0.0
1                 Managed bottom-line architecture    1400.0   14560.0
2     Function-based leadingedge pricing structure  108400.0  142523.0
3    Vision-oriented fresh-thinking conglomeration    4200.0    2477.0
4                        Proactive foreground core    7600.0    5265.0
..                                             ...       ...       ...
995            Vision-oriented scalable definition   97300.0  153216.0
996       Future-proofed upward-trending migration    6600.0    4814.0
997              Right-sized full-range throughput    7600.0    4603.0
998           Polarized composite customer loyalty   66600.0   37823.0
999                    Expanded eco-centric policy  111100.0   62819.0

        outcome  backers_count country currency  launch_timestamp  \
0        failed              0      CA      CAD        1581573600
1    successful            158      US      USD        1611554400
2    successful           1425      AU      AUD        1608184800
3        failed             24      US      USD        1634792400
4        failed             53      US      USD        1608530400
..          ...            ...     ...      ...               ...
995  successful           2043      US      USD        1609221600
996      failed            112      US      USD        1634274000
997    canceled            139      IT      EUR        1636174800
998      failed            374      US      USD        1602133200
999    canceled           1122      US      USD        1609308000

     deadline_timestamp  staff_pick  spotlight    category  subcategory
0            1614578400       False      False        food  food trucks
1            1621918800       False       True       music         rock
2            1640844000       False      False  technology          web
3            1642399200       False      False       music         rock
4            1629694800       False      False     theater        plays
..                  ...         ...        ...         ...          ...
995          1622350800       False       True        food  food trucks
996          1638252000       False      False     theater        plays
997          1639116000       False      False     theater        plays
998          1618117200       False       True       music   indie rock
999          1629262800       False      False        food  food trucks

[1000 rows x 16 columns]

In [17]:
# Check the datatypes

print(campaign_df.dtypes)

cf_id                   int64
contact_id              int64
company_name           object
description            object
goal                  float64
pledged               float64
outcome                object
backers_count           int64
country                object
currency               object
launch_timestamp        int64
deadline_timestamp      int64
staff_pick               bool
spotlight                bool
category               object
subcategory            object
dtype: object

In [18]:


# Format the launched_date and end_date columns to datetime format


campaign_df[['launch_timestamp', 'deadline_timestamp']] = pd.to_datetime(campaign_df[['launch_timestamp', 'deadline_timestamp']], unit='s', origin='unix')



# Display the modified campaign_df
campaign_df

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [19]:
# Convert 'launched_date' to datetime format (Unix timestamp)
campaign_df['launch_timestamp'] = pd.to_datetime(campaign_df['launch_timestamp'], unit='s')

# Convert 'end_date' to datetime format (Unix timestamp)
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

KeyError: 'end_date'

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = campaign_df(category_df, on=['category', 'subcategory'])

campaign_dfpd.merge 


campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [ ]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [ ]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []


# Print out the list of values for each row.
print(dict_values)

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.

In [ ]:
# Check the datatypes.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)